<h1><%= @user.full_name %></h1>
<ul>
	<%= content_tag(:li, ("Nombre: " + @user.name)) unless @user.name.blank? %>
    <%= content_tag(:li, ("Contacto: " + @user.contact)) unless @user.contact.blank? %>
    <% case @user.sex %>
		<% when 1 %>
			Sexo: Hombre
		<% when 2 %>
			Sexo: Mujer
		<% else %>
			Sexo: Sin especificar
	<% end %><br>
    <%= content_tag(:li, ("Descripción: " + @user.description)) unless @user.description.blank? %>
    <%= content_tag(:li, ("Edad: " + distance_of_time_in_words(Time.now, @user.date_of_birth))) unless @user.date_of_birth.blank? %>
    <% unless @user.webpage.blank? %>
	    <% unless @user.webtitle.blank? %>
	        <li>Página Web: <%= link_to @user.webtitle, @user.webpage %></li>
	    <% end %>
    <% end %>
    <hr>
</ul>

<header>
	<p><% x = request.original_url %></p>
	<p><%= x %></p>
	<p><%= request.original_fullpath %></p>
	<p><%= request.fullpath %></p>
</header>