<!DOCTYPE html>
<html lang="es">
<head>
	<!--<title>Blog</title>-->
	<%= yield :head %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<script src="https://github.com/notifyjs/notifyjs/blob/master/dist/notify.js"></script>
</head>
<body onload="notify()">
<div class="header"><%= render 'layouts/navbar' %></div>
<div class="alerts"><%= render 'layouts/alerts' %></div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
